@page "/the-archive"
@using Contentful.Core;
@using Contentful.Core.Models
@using Microsoft.Extensions.Configuration;
@using portfolio.Services
@using portfolio_models.Models;

@inject IContentfulQuery contentfulService
@inject NavigationManager NavigationManager

<title>The Archive</title>

<body>
    @if (Loading)
    {
        <div class="loader-black"></div>
    }
    else
    {
        <div class="wrapper">
            <Navbar />
            @foreach (var banner in BannerImage)
            {
                <section id="newest-record">
                    <div class="container" id="landing-image" style="background-image: url(@banner.File.Url)">
                        <div class="row">
                            <div class="col-lg-4 offset-md-4 text-center text-justify" id="main-col">
                                <h1 id="latest-record">WALLS OF JERUSALEM </h1>
                                <a class="btn btn-light" href="/the-archive/record/walls-of-jerusalem" id="see-more">SEE MORE</a>
                            </div>
                        </div>
                    </div>
                </section>
            }
            <section id="records">
                <div class="container">
                    <h1 class="pt-4 mb-4" id="record-header">LATEST RECORDS</h1>
                    <div class="row align-items-center">
                        @*Iterate over records*@
                        @foreach (var records in recordList)
                        {

                            <div class="col-md-4 ">
                                <div class="card mb-4" id="main-card">
                                    <img class="card-img-top" src="@records.FeaturedAsset.File.Url?w=500">

                                    <div class="card-body text-center">
                                        @*<h5 class="card-title text-center text-uppercase" id="card-title">@records.Title</h5>*@
                                        <h5 class="card-title text-center text-uppercase" id="card-title">@records.Title</h5>

                                        <p class="card-text text-white pl-3 pr-3 text-left" id="card-description-text">@records.Description</p>
                                        <button class="btn cursor-pointer" id="read-more" @onclick="()=>RedirectTo(records.Slug, records.MetadataTags)">
                                            READ
                                            MORE
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
            <Footer />
        </div>
    }
</body>

@code {
    //public IEnumerable<Records> recordList = new List<Records>();
    public IEnumerable<Asset> BannerImage = new List<Asset>();
    public IEnumerable<ContentThumbnail> recordList = new List<ContentThumbnail>();

    public bool Loading { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Loading = true;

            recordList = await contentfulService.GetContentThumbnails();
            BannerImage = await contentfulService.GetAssetByTitle("walls-of-jerusalem-banner");
            Loading = false;

        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    private void RedirectTo(string recordSlug, List<string> Tags)
    {
        //Iterate through the list and break as soon as one matches either blog or record
        foreach (var metadataTag in Tags)
        {
            if (metadataTag.Contains("blogPost"))
            {
                NavigationManager.NavigateTo($"/the-archive/blog/{recordSlug}");
                break;
            }

        //If this was an else clause there would be an extra api call. Adding extra if statement solved it but feels hacky
            if (metadataTag.Contains("recordPost"))
            {
                NavigationManager.NavigateTo($"/the-archive/record/{recordSlug}");
                break;
            }
        } // End foreach
    } 
}