@page "/TheArchive/blog/{blogSlug}"

@using Contentful.Core;

@using Microsoft.Extensions.Configuration;
@using Models
@using portfolio.Services

@inject IContentfulService contentfulService
@inject NavigationManager NavigationManager



<Navbar />
<body>
    @foreach (var post in singlePost)
    {
        <div class="wrapper">
            <section id="article-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h4 class = "mt-4 text-center">@post.PostTitle</h4>
                            <p class = "text-center">@post.PostDescription</p>
                            <div class="image-grid">
                                @foreach (var image in post.ImageGallery)
                                {
                                    
                                    @if(image.File.Details.Image.Width.Equals(4032))
                                    {
                                        <a href="@image.File.Url" data-toggle="lightbox"
                               data-gallery="example-gallery"
                               data-footer="" class = "image-grid-col-2">
                                        <img src="@image.File.Url">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@image.File.Url" data-toggle="lightbox"
                               data-gallery="example-gallery"
                               data-footer="">
                                        <img src="@image.File.Url">
                                    </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    }
</body>
<Footer />


@code {
    [Parameter]
    public string blogSlug { get; set; }

    public List<BlogPost> singlePost = new List<BlogPost>();


    protected override async Task OnInitializedAsync()
    {
        singlePost = await contentfulService.GetPostBySlug(blogSlug);
    }

    }
