@page "/the-archive/blog/{blogSlug}"

@using Contentful.Core;

@using Microsoft.Extensions.Configuration;
@using portfolio_models.Models;
@using portfolio.Services;
@using portfolio.Services.IServices

@inject IContentfulQuery contentfulService
@inject NavigationManager NavigationManager


<body>
    @if (Loading)
    {
        <div class="loader-black"></div>
    }
    else
    {
        @foreach (var post in singlePost)
        {
            <div class="wrapper">
                <Navbar />
                <section id="article-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <h4 class="mt-4 text-center">@post.PostTitle</h4>
                                <p class="text-center">@post.PostDescription</p>
                                <div class="image-grid">
                                    @foreach (var image in post.ImageGallery)
                                    {
                                        @if (image.File.Details.Image.Width.Equals(4032))
                                        {
                                            <a href="@image.File.Url" data-toggle="lightbox"
                               data-gallery="example-gallery"
                               data-footer="" class="image-grid-col-2">
                                                <img src="@image.File.Url" class = "fade-in">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@image.File.Url" data-toggle="lightbox"
                               data-gallery="example-gallery"
                               data-footer="">
                                                <img src="@image.File.Url" class = "fade-in">
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <Footer />
            </div>
        }
    }
</body>
@code {
    [Parameter]
    public string blogSlug { get; set; }

    public IEnumerable<BlogPost> singlePost = new List<BlogPost>();
    public bool Loading { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        singlePost = await contentfulService.GetPostBySlug(blogSlug);
        Loading = false;
    }

    }
